In [1]:
import pandas as pd

# Load the CSV files into DataFrames
typhi_df = pd.read_csv('./typhi.csv')
sample_sheet_df = pd.read_csv('./Sample_Sheet_NextSeq_19.csv')

# Show the first few rows of each DataFrame to understand their structure
typhi_head = typhi_df.head()
sample_sheet_head = sample_sheet_df.head()

typhi_head, sample_sheet_head

(  Sequence ID   Specimen ID  Barcodes
 0    STY_0208  1.220401e+10       NaN
 1    STY_0202  1.220402e+10       NaN
 2    STY_0203  1.220402e+10       NaN
 3    STY_0209  1.220304e+10       NaN
 4         NaN           NaN       NaN,
   Organism ID     Sequence ID Organism Barcode Layout Barcode plate
 0  OM_1024670  SPN_0286_GPS_R      SPN            A01  IDT-15156265
 1  1013680_OM  SPN_0223_GPS_R      SPN            B01  IDT-15156265
 2  1015830_OM  SPN_0273_GPS_R      SPN            C01  IDT-15156265
 3     1043602    SPN_0304_GPS      SPN            E01  IDT-15156265
 4     1038012    SPN_0305_GPS      SPN            A02  IDT-15156265)

In [2]:
# Merge the DataFrames based on the "Sequence ID" column
merged_df = typhi_df.merge(sample_sheet_df[['Sequence ID', 'Barcode Layout', 'Barcode plate']], on='Sequence ID', how='left')

# Display the first few rows of the merged DataFrame to verify the results
merged_df.head()

  Sequence ID   Specimen ID  Barcodes Barcode Layout    Barcode plate
0    STY_0208  1.220401e+10       NaN            H11  IDT-1446944+945
1    STY_0202  1.220402e+10       NaN            B11  IDT-1446944+945
2    STY_0203  1.220402e+10       NaN            C11  IDT-1446944+945
3    STY_0209  1.220304e+10       NaN            A09     IDT-15156265
4         NaN           NaN       NaN            NaN              NaN

In [3]:
# Save the updated DataFrame back to the "typhi.csv" file
updated_file_path = './typhi_updated.csv'
merged_df.to_csv(updated_file_path, index=False)